
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #043873; 
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;
    gap: 10px; 
}

.logo img {
    width: 30px;
    height: 30px;
}

.linksGrp {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: auto; 
}


.linksGrp a {
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 20px;
}

.btnsGrp {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 32px;
}

.login {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #FFE492;
    color: black;
}

.try {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #4F9CF9;
    color: white;
}

header {
    padding: 16px 32px;
    background-color: #043873;
    border-bottom: 1px solid white;
}