*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: goldenrod;
}

.logo{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.linksGrp{
    color: white;
}

.linksGrp,.btnsGrp {
    display: flex;
    gap: 20px;
    
}

nav{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.btnsGrp{
    display: flex;
    gap: 30px;
}

.login{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: yellow;
    color: black;
}

.try{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: blue;
    color: white;
}

header{
    margin: 10px;
}